amqp
asgiref
async-timeout
billiard
celery==5.4.0
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
cryptography
Deprecated
Django==5.2.14
django-cors-headers
django-filter
django-redis==5.4.0
django-simpleui
djangorestframework==3.15.2
djangorestframework-simplejwt
drf-spectacular
faiss-cpu==1.8.0.post1
idna
kombu
mysqlclient
packaging
Pillow==10.4.0
prompt_toolkit
pycparser
pycryptodome
PyJWT
PyMySQL
pyOpenSSL
pyparsing
python-alipay-sdk
python-dateutil
pytz
qiniu
redis==5.2.1
requests
six
sqlparse
tencentcloud-sdk-python
typing_extensions
tzdata
tzlocal
urllib3
vine
wcwidth
wrapt
uwsgi==2.0.28
